# Token do Bot do Discord (Obtido no Discord Developer Portal > Bot > Reset Token)
DISCORD_TOKEN=seu_token_aqui

# ID da Aplicação / Bot (Obtido no Discord Developer Portal > General Information > Application ID)
CLIENT_ID=seu_client_id_aqui

# ID do Servidor Discord (Guild ID)
GUILD_ID=seu_guild_id_aqui

# ID do Cargo da Staff com permissão para usar os comandos
STAFF_ROLE_ID=1526370359652122826

# ID do Canal onde os avisos de eventos serão enviados por padrão
ANNOUNCEMENT_CHANNEL_ID=seu_id_do_canal_aqui
