# Token do Bot do Discord (Obtido no Discord Developer Portal > Bot > Reset Token)
DISCORD_TOKEN=seu_token_aqui

# ID da Aplicação / Bot (Obtido no Discord Developer Portal > General Information > Application ID)
CLIENT_ID=seu_client_id_aqui

# Client Secret do Bot (Opcional, para login OAuth2 no Portal Web)
CLIENT_SECRET=seu_client_secret_aqui

# ID do Servidor Discord (Guild ID)
GUILD_ID=seu_guild_id_aqui

# ID do Cargo da Staff com permissão para usar os comandos administrativos
STAFF_ROLE_ID=1526370359652122826

# ID do Cargo dos Jogadores NC (Listado automaticamente no Sorteador Pro)
EVENT_ROLE_ID=1525526128725459065

# ID do Canal exclusivo onde os comandos de Alt Timer podem ser executados
ALT_TIMER_CHANNEL_ID=1527700863345229834

# ID do Canal onde os avisos de eventos e sorteios serão enviados por padrão
ANNOUNCEMENT_CHANNEL_ID=seu_id_do_canal_aqui

# ID da Categoria de Canais de Voz para monitorar Mute de 10 minutos
VOICE_CATEGORY_ID=1525526402500395189

# ID do Canal AFK (Opcional)
AFK_CHANNEL_ID=

# Tempo limite mutado em minutos para mover para o AFK (Padrão: 10)
MUTE_TIMEOUT_MINUTES=10

# ==========================================
# PORTAL DE GESTÃO WEB (RAVEN HUB)
# ==========================================
# Porta onde o painel web vai rodar no container
PORT=3000

# ID do único usuário autorizado a acessar o portal
ALLOWED_USER_ID=273600843251712020

# Chave mestra para login direto de emergência / admin key
ADMIN_KEY=raven273600843251712020

# Segredo de sessão
SESSION_SECRET=secret_nc_token_session_2026

# Webhook do Discord para avisos rápidos
WEBHOOK_URL=https://discord.com/api/webhooks/1538936957537751050/JGT2tcgOKgTXBMwJ4ls9SevxZFtPueN9jFJQhA79A5k9RFH28b0_Bxp8zdUA-UxNFHmF
