# Token do Bot do Discord (Obtido no Discord Developer Portal > Bot > Reset Token)
DISCORD_TOKEN=seu_token_aqui

# ID da Aplicação / Bot (Obtido no Discord Developer Portal > General Information > Application ID)
CLIENT_ID=seu_client_id_aqui

# ID do Servidor Discord (Guild ID)
GUILD_ID=seu_guild_id_aqui

# ID do Cargo da Staff com permissão para usar os comandos
STAFF_ROLE_ID=1526370359652122826

# ID do Cargo dos Jogadores a ser marcado nos avisos de eventos
EVENT_ROLE_ID=1525526128725459065

# ID do Canal onde os avisos de eventos serão enviados por padrão
ANNOUNCEMENT_CHANNEL_ID=seu_id_do_canal_aqui

# ID da Categoria de Canais de Voz para monitorar Mute de 10 minutos
VOICE_CATEGORY_ID=1525526402500395189

# ID do Canal AFK (Opcional. Se omitido, usará o canal AFK configurado no servidor Discord)
AFK_CHANNEL_ID=

# Tempo limite mutado em minutos para mover para o AFK (Padrão: 10)
MUTE_TIMEOUT_MINUTES=10
