# Variaveis para o arquivo icontainer.env na VPS

DISCORD_TOKEN=seu_token_aqui
CLIENT_ID=seu_client_id_aqui
GUILD_ID=seu_guild_id_aqui
STAFF_ROLE_ID=1526370359652122826
EVENT_ROLE_ID=1525526128725459065
ANNOUNCEMENT_CHANNEL_ID=seu_id_do_canal_de_avisos
VOICE_CATEGORY_ID=1525526402500395189
AFK_CHANNEL_ID=
MUTE_TIMEOUT_MINUTES=10
